
    body,
    html {
      min-height: 100%;
      margin: 0;
      background-color: #004b75;
      font-family: "Roboto", sans-serif;
      overflow-x: hidden;
    }

    .form-wrapper {
      background-color: white;
      min-height: 63vh;
      border-radius: 5px;
      max-width: 100vw;
      box-sizing: border-box;
      /* Added this line */
      padding-bottom: 10vh;
    }
.ft_btm {
  margin: auto;
  max-width: 600px;
  background: #fe0000;
  width: 100%;
}
header img {
  width: 150px;
}
header {
  background: gray;
  padding: 10px;
}
footer {
  background: rebeccapurple;
  text-align: center;
  padding: 10px;
  color: #fff;
}
    /* BUTTONS */
    .button-positive {
      background-color: #004b75;
      color: white;
      border-radius: 5px;
      padding: 18px;
      text-align: center;
      font-weight: medium;
      font-size: 29px;
      cursor: pointer;
    }

    .button-positive:hover {
      background-color: #003452;
    }

    /** Button positive large **/
    .button-positive-large {
      display: flex;
      align-items: center;
      width: 100%;
      box-sizing: border-box;
      padding: 40px 30px;
      background-color: #004b75;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      cursor: pointer;
    }

    .button-positive-large:hover {
      background-color: #003452;
    }

    .button-positive-large div:first-child {
      font-size: 33px;
      margin-right: 10px;
    }

    .button-positive-large div:last-child {
      font-size: 30px;
      font-weight: bold;
      flex-grow: 1;
      text-align: center;
    }

    /** Button positive call **/
    .button-positive-call {
      display: flex;
      align-items: center;
      width: 100%;
      box-sizing: border-box;
      padding: 23px 30px;
      background-color: #004b75;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      cursor: pointer;
    }

    .button-positive-call:hover {
      background-color: #003452;
    }

    .button-positive-call span:first-child {
      font-size: 30px;
      margin-right: 10px;
    }

    .button-positive-call span:last-child {
      font-size: 23px;
      font-weight: bold;
      flex-grow: 1;
      text-align: center;
    }

    /** Button negative **/
    .button-negative {
      display: flex;
      align-items: center;
      width: 100%;
      box-sizing: border-box;
      padding: 10px 30px;
      background-color: #fff;
      border: 2px solid #004b75;
      color: #004b75;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      cursor: pointer;
    }

    .button-negative:hover {
      background-color: #003452;
      color: white;
    }

    .button-negative div:first-child {
      font-size: 33px;
      margin-right: 10px;
    }

    .button-negative div:last-child {
      font-size: 30px;
      font-weight: bold;
      flex-grow: 1;
      text-align: center;
    }

    /** other styles **/
    .min-full-height {
      min-height: 89vh;
    }

    .content {
      background-image: url("../images/bg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      text-align: center;
      font-size: 20px;
      max-width: 600px;
      margin: 0 auto;
    }

    .title {
      margin-bottom: 15px;
      font-size: 29px;
      font-weight: 900;
      text-align: center;
      color: white;
      -webkit-text-stroke-width: 1.5px;
      -webkit-text-stroke-color: black;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    .breaking-and-live {
      display: flex;
      justify-content: space-between;
    }

    .persistent-header {
      padding: 20px 20px 0px;
    }

    .swiper-padding {
      padding: 10px;
    }

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .slide-content {
      width: calc(100% - 20px);
      /* subtracting 20px padding from each side */
      padding: 10px;
      box-sizing: border-box;
    }

    .count {
      font-size: 15px;
      margin-bottom: 20px;
      margin-top: 30px;
    }

    .question {
      font-size: 26px;
      font-weight: bold;
      margin-top: 0px;
      margin-bottom: 35px;
      list-style: 28px;
    }

    .explainer {
      font-size: 23px;
    }

    @keyframes throb {
      0% {
        transform: scale(1);
      }

      50% {
        transform: scale(1.2);
      }

      100% {
        transform: scale(1);
      }
    }

    .throbbing {
      display: inline-block;
      color: red;
      animation: throb 1.5s infinite;
    }

    /** Desktop styling for slider **/
    @media (min-width: 600px) {
      .title {
        padding-bottom:10px;
      }

      .swiper-container {
        height:auto;
      }

      .swiper-slide {
        height: 100%;
      }

      .swiper-padding {
        padding: 0px;
      }

      .swiper-slide {
        visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .swiper-slide-active {
        visibility: visible;
      }

      .slide-content {
        width: calc(100% - 30px);
        /* subtracting 20px padding from each side */
        padding: 15px;
        box-sizing: border-box;
      }

      .count {
        font-size: 20px;
        margin-bottom: 10px;
      }

      .question {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .explainer {
        font-size: 30px;
      }
    }